<div *ngIf="!users">
    <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
</div>
<div id="userlist" *ngIf="users">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">uuid</th>
                <th scope="col">displayName</th>
                <th scope="col">avatarId</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;let i=index">
                <th scope="row">{{i}}</th>
                <td>{{user.uuid}}</td>
                <td>{{user.displayName}}</td>
                <td>{{user.avatarId}}</td>
            </tr>
        </tbody>
    </table>
</div>